lax.exe
pack/
pack-linux/
LaX-*.zip
LaX-*-linux-*.tar.gz
JetBrains_Mono*.zip
node_modules/
dist/
src-tauri/target/
src-tauri/gen/
bin/
data/
tmp/
logs/
etc/apps/
usr/.install-root
usr/apps/dbgate/node_modules
www/*
!www/index.php
!www/hello/
!www/hello/**
*.log
*.pdb
.DS_Store
Thumbs.db
.env
.idea/
.vscode/
